html {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f630df+-1,f630df+-1,f630df+-1,f630df+0,f630df+0,f630df+0,f630df+0,f630df+0,f630df+0,f630df+0,f630df+0,f630df+0,f630df+0,f630df+0,f630df+0,f67e96+72,f67e96+90,f67e96+100,ef294d+100 */
background: #f630df; /* Old browsers */
background: -moz-linear-gradient(-45deg, #f630df -1%, #f630df -1%, #f630df -1%, #f630df 0%, #f630df 0%, #f630df 0%, #f630df 0%, #f630df 0%, #f630df 0%, #f630df 0%, #f630df 0%, #f630df 0%, #f630df 0%, #f630df 0%, #f630df 0%, #f67e96 72%, #f67e96 90%, #f67e96 100%, #ef294d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #f630df -1%,#f630df -1%,#f630df -1%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f67e96 72%,#f67e96 90%,#f67e96 100%,#ef294d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #f630df -1%,#f630df -1%,#f630df -1%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f630df 0%,#f67e96 72%,#f67e96 90%,#f67e96 100%,#ef294d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f630df', endColorstr='#ef294d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}


/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories .section-description { 
  margin-bottom: 4rem;
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 5rem 0 11rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .section {
    padding: 5rem 0 15rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .categories {
    padding: 5rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 5rem 0 19rem;
  }
}