@import url('https://fonts.googleapis.com/css?family=VT323|Yellowtail');

html {
    /*background: #2de3ed;
    background: -moz-linear-gradient(top,  #2de3ed 0%, #f26fe7 19%, #f26fe7 32%, #2de3ed 48%, #f26fe7 65%, #f26fe7 82%, #2de3ed 100%);
    background: -webkit-linear-gradient(top,  #2de3ed 0%,#f26fe7 19%,#f26fe7 32%,#2de3ed 48%,#f26fe7 65%,#f26fe7 82%,#2de3ed 100%);
    background: linear-gradient(to bottom,  #2de3ed 0%,#f26fe7 19%,#f26fe7 32%,#2de3ed 48%,#f26fe7 65%,#f26fe7 82%,#2de3ed 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2de3ed', endColorstr='#2de3ed',GradientType=0 );*/
    
    background: #67d0ed; /* Old browsers */
    background: -moz-linear-gradient(top,  #67d0ed 1%, #74bbf1 3%, #9692f3 7%, #b368f6 11%, #c054f8 15%, #d03ef9 21%, #cf3ff9 28%, #f214fd 35%, #ff00fe 44%, #ff00fe 52%, #f214fd 60%, #cf3ff9 65%, #d03ef9 71%, #c054f8 78%, #b368f6 84%, #9692f3 90%, #74bbf1 95%, #67d0ed 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #67d0ed 1%,#74bbf1 3%,#9692f3 7%,#b368f6 11%,#c054f8 15%,#d03ef9 21%,#cf3ff9 28%,#f214fd 35%,#ff00fe 44%,#ff00fe 52%,#f214fd 60%,#cf3ff9 65%,#d03ef9 71%,#c054f8 78%,#b368f6 84%,#9692f3 90%,#74bbf1 95%,#67d0ed 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #67d0ed 1%,#74bbf1 3%,#9692f3 7%,#b368f6 11%,#c054f8 15%,#d03ef9 21%,#cf3ff9 28%,#f214fd 35%,#ff00fe 44%,#ff00fe 52%,#f214fd 60%,#cf3ff9 65%,#d03ef9 71%,#c054f8 78%,#b368f6 84%,#9692f3 90%,#74bbf1 95%,#67d0ed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67d0ed', endColorstr='#67d0ed',GradientType=0 ); /* IE6-9 */
    z-index: 0;
}

/** Full Page Landing
–––––––––––––––––––––––––––––––––––––––––––––––––– **/

header {
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center; 
    align-items: center;
    text-align: center;
    
    font-family: 'VT323', monospace;
}

#logo {
    height: 500px;
    margin-bottom: 12%;
}

@media (max-width: 750px) {
    #logo {
        height: 300px;
    }
}

#main-head {
    letter-spacing: 1px;
    border: 1px solid black;
    padding: 3% 10% 3% 10%;
}
#second-head {
    margin-top: 1em;
    margin-bottom: 4em;
    
    font-family: 'Yellowtail', cursive;
}

#down-arrow {
    padding-top: 3em;
}


/** Work
–––––––––––––––––––––––––––––––––––––––––––––––––– **/

#work {
    color: white;
    text-align: center;
    font-family: 'VT323', monospace;
}

#work-title {
    padding-bottom: 30px;
    font-size: 4.5em;
    
    text-shadow: 2px 2px 5px #262626;
    letter-spacing: -4px;
}
/*
#work-title {
    border-bottom: 1px solid #262626;
    width: 50%;
    padding: 3% 0 0 0;
}*/

@media (max-width: 400px) {
    #work-title {
        width: auto;
    }
}
@media (max-width: 550px) {
    #work-title {
        width: auto;
    }
}
@media (max-width: 750px) {
    #work-title {
        width: auto;
    }
}

#img-grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 5%;
}

#img-grid a {
    display: inline-block;
    margin-bottom: 8px;
    width: calc(50% - 4px);
    margin-right: 8px;
    text-decoration: none;
    color: black;
}

#img-grid a:nth-of-type(2n) {
    margin-right: 0;
}

@media screen and (min-width: 50em) {
    #img-grid a {
        width: calc(25% - 6px);
  }
  
    #img-grid a:nth-of-type(2n) {
        margin-right: 8px;
  }
  
    #img-grid a:nth-of-type(4n) {
        margin-right: 0;
  }
}

#img-grid a:hover img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
}

figure {
    margin: 0;
    overflow: hidden;
}

figcaption {
    margin-top: 15px;
    color: white;
    
    font-size: 1.1em;
    text-shadow: 2px 2px 5px #262626;
}

#img-grid img {
    border: none;
    max-width: 100%;
    height: auto;
    display: block;
    background: #ccc;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

#work h5 {
    text-align: center;
}

#work h5 a{
    text-decoration: none;
}


/** About
–––––––––––––––––––––––––––––––––––––––––––––––––– **/

#port-img {
    float: right;
    margin-top: 5em;
    margin-right: -5em;
    width: 225px;
    height: 225px;
    border: 2px solid #262626;
    border-radius: 50%;
}

@media (max-width: 400px) {
    #port-img {
        display: block;
        margin: 0 auto;
        float: none;
        width: 150px;
        height: 150px;
    }
    #port-img-span {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}
@media (max-width: 550px) {
    #port-img {
        display: block;
        margin: 0 auto;
        float: none;
        width: 150px;
        height: 150px;
    }
    #port-img-span {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}
@media (max-width: 750px) {
    #port-img {
        display: block;
        margin: 0 auto;
        float: none;
    }
    #port-img-span {
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

#about-header {
    color: #2DE3ED;
    text-align: left;
    margin-top: 5%;
    font-size: 4.5em;
        
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 5px #262626;
    letter-spacing: -4px;
}

#bio {
    color: white;
    letter-spacing: 1px;
    text-align: left;
    
    font-family: 'VT323', monospace;
    font-size: 1.3em;
    text-shadow: 2px 2px 5px #262626;
}
 
#bio a {
    text-decoration: none;
    color: #F26FE7;
    
    animation-duration: 400ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink {
   from {
    color: #F26FE7;
   }
   to {
    color: #2DE3ED;
   }
 }

/**#bio a:hover {
    color: pink;
}**/

#skills-list {
    color: #2DE3ED;
    font-size: 1.3em;
    text-align: left;
    list-style-type: none;
    letter-spacing: 1px;
}

#skills-list li{
    color: white;
    width: 60%;
    position: relative;
    border-top: solid 1px;
    padding: 0.5em 0;
    
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 5px #262626;
}
@media (max-width: 400px) {
    #skills-list {
        font-size: 1.2em;
    }
}

/** learning
–––––––––––––––––––––––––––––––––––––––––––––––––– **/
#learning {
    color: white;
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}

#learn-header {
    text-align: center;
    padding: 3%;
    
    font-size: 4.5em;
    font-family: 'VT323', monospace;
    text-shadow: 2px 2px 5px #262626;
    letter-spacing: -4px;
}

/** Code A **/

#code-img {
    height: 140px;
    width: 280px;
    display: block;
    margin: 0 auto;
}
@media (max-width: 550px) {
    #code-img {
        height: 80px;
        width: 155px;
    }
}

#code-a {
    letter-spacing: 1px;
    background-color: rgba(255,255,255,0.5);
    width: 60%;
    padding: 5% 5% 2%;
    margin: 0 auto;
    
    font-family: 'VT323', monospace;
}

@media (max-width: 550px){
    #code-a {
        width: 80%;
    }
}

/** udemy **/

#udemy-img {
    height: 80px;
    width: 210px;
    display: block;
    margin: 0 auto;
}
@media (max-width: 550px) {
    #udemy-img {
        height: 80px;
        width: 155px;
    }
}

#udemy {
    letter-spacing: 1px;
    background-color: rgba(255,255,255,0.5);
    width: 60%;
    padding: 5% 5% 2%;
    margin: 0 auto;
    
    font-family: 'VT323', monospace;
}
@media (max-width: 550px){
    #udemy {
        width: 80%;
    }
}

/** treehouse **/

#treehouse-img {
    height: 120px;
    width: 280px;
    display: block;
    margin: 0 auto;
}
@media (max-width: 550px) {
    #treehouse-img {
        height: 80px;
        width: 155px;
    }
}

#treehouse {
    letter-spacing: 1px;
    background-color: rgba(255,255,255,0.5);
    width: 60%;
    padding: 5% 5% 2%;
    margin: 0 auto;
    
    font-family: 'VT323', monospace;
}
@media (max-width: 550px){
    #treehouse {
        width: 80%;
    }
}

/** Supplemental Material **/

#sm {
    background-color: rgba(255,255,255,0.5);
    width: 60%;
    padding: 5% 5% 2%;
    margin: 0 auto 5% auto;
    
    font-family: 'VT323', monospace;
}
@media (max-width: 550px){
    #sm {
        width: 80%;
    }
}


#sm-header {
    color: #262626;
    text-align: center;
    letter-spacing: 1px;
    width: 60%;
    margin: 0 auto;
    border-bottom: solid 1px black;
    border-spacing: 10px;
}
@media (max-width: 400px) {
    #sm-header {
        font-size: 1.1em;
    }
}

#youtube-img {
    height: 125px;
    display: block;
    margin: 0 auto;
}
@media (max-width: 400px) {
    #youtube-img {
        height: 100px;
        width: 140px;
    }
}

#code-camp {
    height: 100px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 400px) {
    #code-camp {
        height: 75px;
    }
}

#reading-header {
    color: #262626;
    font-weight: bold;
    text-align: left;
}
#reading-list {
    color: #262626;
    font-size: 1em;
    list-style-type: circle;
}
#reading-list li {
    padding: 5px 0 0 5px;
}
#reading-list a{
    color: #262626;
    text-decoration: none;
}
#reading-list a:hover{
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}

/** list style **/

#learn-list {
    font-size: 1.2em;
    text-align: center;
    list-style-type: none;
    padding: 1%;
}
#learn-list li {
    position: relative;
    border-bottom: solid 1px #262626;
    margin: 0 0 20px 0;
    padding: 0.7em 0;
}
#learn-list a{
    color: #262626;
    text-decoration: none;
}
#learn-list a:hover{
    color: rgba(0,0,0,0.5);
    text-decoration: none;
}
span {
    color: limegreen;
    font-size: 1.5em;
    padding: 0 0 0 10px;
}
#progress {
    color: rgba(0,0,0,0.5);
}

#line {
    display: block;
    margin: 0 auto;
}

/** footer
–––––––––––––––––––––––––––––––––––––––––––––––––– **/
#footer {
}

#contact-head {
    color: #262626;
    text-align: center;
    float: left; 
    padding: 0 1% 0 0;
    
    font-family: 'VT323', monospace;
}

#contact-links li{
    color: #262626;
    display: inline;
    font-size: 1.7em;
    padding: 0 1% 0 1%;
}

#contact-links li a{
    color: #262626;
}

@media (max-width: 400px) {
    #contact-links {
        float: left;
        display: inline-block;
    }
}

#top-page {
    font-size: 1.3em;
    float: right;
    margin-top: 0.5em;
    padding: 1%;
    border: 2px solid #262626;
    border-radius: 50px 50px 50px 1px;
    
    font-family: 'VT323', monospace;
}

#top-page a {
    color: #262626;
    text-decoration: none;
}

#top-page:hover {
    background-color: rgba(0,0,0,0.5);
    border: 3px solid #262626;
    border-radius: 50px 50px 50px 1px;
}

#bmc {
    display: block;
    margin: 0 auto;
}




/* pop up */
.modal-box {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 98%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
}

.modal-box header,
.modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.modal-box header h3,
.modal-box header h4,
.modal-box .modal-header h3,
.modal-box .modal-header h4 { margin: 0; }

.modal-box .modal-body { padding: 2em 1.5em; }

.modal-box footer,
.modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

a.close {
  line-height: 1;
  font-size: 1.5em;
  position: absolute;
  top: 5%;
  right: 2%;
  text-decoration: none;
  color: #bbb;
}

a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

@media (min-width: 32em) {
  .modal-box { width: 70%; }
}