body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

.full {
  background: url(../img/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/********** NAVBAR **********/
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   color: #fff;
}

.navbar li { 
    color: #000;
    font-family: 'Playfair Display', serif;
}

/******** PROFILE IMAGE *******/

#pro {
    height: 350px;
    width: 350px;
    border-radius: 100%;
    border: 12px solid #262626;
}
#main {
    position: relative;
    margin: 0 auto;
    float: right;
    padding: 0 10% 0;
}

/********** INTRO **********/

#intro-head {
    color: #262626;
    font-family: 'Playfair Display', serif;
    font-size: 3.9em
}
#intro {
    color: #262626;
    font-family: 'Cabin Condensed', sans-serif;
    text-align: center;
    font-size: 1.3em;
    letter-spacing: 1px;
}

#list {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
    list-style: none;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 1.5em;
}

/*********** WORK **********/
.page-header {
    text-align: center;
    font-family: Times New Roman; 
    font-size: 3.5em;
    padding-top: 1%;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
}

/********** SOCIAL **********/

.navbar-nav.nav-justified > li{
    float: none;
}
.navbar-nav.nav-justified {
    margin: 0 auto;
    display: table;
    float: none;
}

/********** Footer **********/

footer {
    text-align: center;
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 1.2em;
    letter-spacing: 1px;
    border-bottom: 1px solid #262626;
}

/*#social-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 2%;
}

#social-icon li{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    padding 7%;
}*/

